VITE_FIREBASE_API_KEY=AIzaSyAVQ1HjKFyzxKrioLXlqfTuFcBua4JcdpM
VITE_FIREBASE_AUTH_DOMAIN=mvp1-levitahub.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mvp1-levitahub
VITE_FIREBASE_STORAGE_BUCKET=mvp1-levitahub.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=19540533890
VITE_FIREBASE_APP_ID=1:19540533890:web:6db2a9cee6c045edb20a9b

# PHASE 5 - MOCKED BILLING KEYS
STRIPE_SECRET_KEY=sk_test_mocked_key_12345
STRIPE_PUBLISHABLE_KEY=pk_test_mocked_key_12345
STRIPE_WEBHOOK_SECRET=whsec_mocked_secret
STRIPE_PRICE_ID_PLUS=price_mock_plus_plan
